<h3>Submitted Information</h3>
<p>Name: <%= data.name %></p>
<p>Dojo Location: <%= data.location %></p>
<p>Favorite Language: <%= data.fav_lang %></p>
<p>Comment: <%= data.comment %></p>

<br>
<a href="/">Go back</a>
