<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div ng-init="UC.index()">
		<h3>You Have Succesfully logged in</h3>
		<a href="" ng-click="UC.logout()">Logout</a>
		<div>
			Search: <input type="text" ng-model="UserFilter">
		</div>
		<table border="1" cellpadding="7" bordercollapse="0">
			<thead>
				<tr>
					<th>Name</th>
					<th>Show</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in UC.users | filter: UserFilter ">
					<td>{{user.first_name}} {{user.last_name}}</td>
					<td><button ng-click="UC.show_redirect(user._id)">Show</button></td>
					<td><button ng-click="UC.edit_redirect(user._id)">Edit</button></td>
					<td><button ng-click="UC.destroy(user)">Delete</button></td>
				</tr>
			</tbody>
		</table>
		<a href="#!/users/new">Add a new user</a>	
	</div>
</body>
</html>